h2{
    text-align: center;
    font-family: Fleur De Leah;
    color: #006994;
}

p{
    font-family: Kanchenjunga;
    color: #E42535;
}

.card-title{
    color: #58355E;
}

.col-md-6{
    background-color: black;
}

.card{
    box-shadow: 10px 15px 20px;
    background-color: black
}

#font{
    font-family: Kanchenjunga;
}
#ff{
    font-family: Kanchenjunga;
}
#family{
    font-family: Kanchenjunga;
}
#heat{
    font-family: Kanchenjunga;
}

#accordion{
  position: absolute;
  left: 62.5%;
  transform: translate(-50%);
  width: 80%;
}

#cards{
    left: 35%;
}

.accordion-body{
    color: red;
}
