h2{
    text-align: center;
    font-family: Fleur De Leah;
    color: #006994;
}

p{
    font-family: Kanchenjunga;
    color: #E42535;
}

.card-title{
    color: #58355E;
}

.col-md-6{
    background-color: black;
}

.card{
    box-shadow: 5px 10px ;
    background-color: black
}

.col-lg-8{
    text-align: center;
}
